---
import { GrCaretPrevious } from "react-icons/gr";
import { GrCaretNext } from "react-icons/gr";
import PortadaDashboard from "../../../public/assets/portadadm.jpg";
import ManageDashboard from "../../../public/assets/managedash.jpg";
import DBDashboard from "../../../public/assets/mongodb.jpg";
import { FaGithub } from "react-icons/fa";
import { SiAmazonwebservices } from "react-icons/si";
import HotelMiranda from "../../../public/assets/homemiranda.jpg";
import HotelAboutUs from "../../../public/assets/aboutus.jpg";
import Galery1 from "../../../public/assets/galery1.jpg";
import Galery2 from "../../../public/assets/galery2.jpg";
import Galery3 from "../../../public/assets/galery3.jpg";
import OxygenShop from "../../../public/assets/oxygen1.jpg";
import oxgenshop2 from "../../../public/assets/oxygen2.jpg";
import oxygenmovil from "../../../public/assets/oxygenmovil.jpg";
---

<script>
  document.addEventListener("DOMContentLoaded", function () {
    const sliders =
      document.querySelectorAll<HTMLDivElement>(".slider-container");

    sliders.forEach((container) => {
      // Especificar tipos para los elementos seleccionados
      const slider = container.querySelector<HTMLDivElement>(".slider");
      const prevButton = container.querySelector<HTMLButtonElement>(".prev");
      const nextButton = container.querySelector<HTMLButtonElement>(".next");

      if (!slider || !prevButton || !nextButton) {
        console.error("Slider elements not found in container", container);
        return;
      }

      let currentIndex = 0;

      const updateSlider = () => {
        slider.style.transform = `translateX(-${currentIndex * 100}%)`;
      };

      prevButton.addEventListener("click", () => {
        currentIndex = Math.max(0, currentIndex - 1);
        console.log("Prev button clicked", currentIndex);
        updateSlider();
      });

      nextButton.addEventListener("click", () => {
        const sliderChildren = slider.children.length;
        currentIndex = Math.min(sliderChildren - 1, currentIndex + 1);
        console.log("Next button clicked", currentIndex);
        updateSlider();
      });
    });
  });
</script>

<section class="container mx-auto px-4 py-8">
  <h2 class="text-3xl font-syne font-bold mb-6 text-center">Last Projects</h2>
  <div class="grid grid-cols-1 md:grid-cols-2 gap-8">
    <!-- Project 1 -->
    <div class="project-item border rounded-lg p-4 shadow-md slider-container">
      <h2 class="text-xl font-semibold flex justify-center items-center mb-4">
        Dashboard Miranda
      </h2>
      <div class="relative overflow-hidden">
        <div class="slider flex transition-transform duration-300">
          <div
            class="min-w-full h-64 bg-red-500 flex justify-center items-center text-white text-2xl font-bold"
          >
            <img src={PortadaDashboard.src} alt="Dashboard Miranda" />
          </div>
          <div
            class="min-w-full h-64 bg-green-500 flex justify-center items-center text-white text-2xl font-bold"
          >
            <img src={ManageDashboard.src} alt="Manage Dashboard" />
          </div>
          <div
            class="min-w-full h-64 bg-blue-500 flex justify-center items-center text-white text-2xl font-bold"
          >
            <img src={DBDashboard.src} alt="DB Dashboard" />
          </div>
        </div>
        <button
          class="prev absolute top-1/2 left-2 transform -translate-y-1/2 bg-gray-800 text-white rounded-full w-10 h-10 flex items-center justify-center"
        >
          <GrCaretPrevious className="w-5 h-5" />
        </button>
        <button
          class="next absolute top-1/2 right-2 transform -translate-y-1/2 bg-gray-800 text-white rounded-full w-10 h-10 flex items-center justify-center"
        >
          <GrCaretNext className="w-5 h-5" />
        </button>
      </div>
      <article class="p-8 rounded-lg">
        <p class="mt-5 font-roboto text-base">
          Hotel Management Dashboard Miranda es una aplicación web integral
          diseñada para la gestión eficiente de un hotel.<br /><br />
          El frontend está desarrollado con:
        </p>

        <div class="flex flex-wrap items-center gap-2 mt-4">
          <span
            class="bg-blue-500 text-white text-sm font-bold px-4 py-1.5 rounded-md"
          >
            React
          </span>
          <span
            class="bg-purple-600 text-white text-sm font-bold px-4 py-1.5 rounded-md"
          >
            Redux Toolkit
          </span>
          <span
            class="bg-blue-700 text-white text-sm font-bold px-4 py-1.5 rounded-md"
          >
            TypeScript
          </span>
          <span
            class="bg-pink-400 text-white text-sm font-bold px-4 py-1.5 rounded-md"
          >
            Styled Components
          </span>
          <span
            class="bg-teal-500 text-white text-sm font-bold px-4 py-1.5 rounded-md"
          >
            Vite
          </span>
          <a
            href="https://github.com/MariaGargoles/Hotel-Management-Dashboard-Miranda.git"
            class="hover:scale-110 rounded-lg transition duration-300 p-2 text-2xl text-gray-700"
          >
            <FaGithub />
          </a>
        </div>

        <p class="mt-6 font-roboto text-base">
          El backend está construido con:
        </p>

        <div class="flex flex-wrap items-center gap-2 mt-4">
          <span
            class="bg-green-600 text-white text-sm font-bold px-4 py-1.5 rounded-md"
          >
            Node.js
          </span>
          <span
            class="bg-gray-700 text-white text-sm font-bold px-4 py-1.5 rounded-md"
          >
            Express.js
          </span>
          <span
            class="bg-green-400 text-white text-sm font-bold px-4 py-1.5 rounded-md"
          >
            MongoDB
          </span>
          <a
            href="https://github.com/MariaGargoles/Hotel-Management-API"
            class="hover:scale-110 rounded-lg transition duration-300 p-2 text-2xl text-gray-700"
          >
            <FaGithub />
          </a>
        </div>

        <p class="mt-6 font-roboto text-base">
          Además, incluye integración y despliegues automatizados con:
        </p>

        <div class="flex flex-wrap gap-2 mt-4">
          <span
            class="bg-orange-500 text-white text-sm font-bold px-4 py-1.5 rounded-md"
            >AWS</span
          >
        </div>

        <p class="mt-6 font-roboto text-base">
          Esta solución simplifica las operaciones diarias, mejorando la
          experiencia tanto del personal como de los clientes.
        </p>
      </article>
      <div class="flex items-start justify-center gap-4 mt-4 text-3xl">
        <a
          href="http://dashboard-miranda-mgl.s3-website.eu-west-3.amazonaws.com"
          target="_blank"
          class="hover:scale-110 rounded-lg transition duration-300"
          ><SiAmazonwebservices /></a
        >
      </div>
    </div>

    <!-- Project 2 -->
    <div class="project-item border rounded-lg p-4 shadow-md slider-container">
      <h2 class="text-xl font-syne flex justify-center font-semibold mb-4">
        Hotel Miranda
      </h2>
      <div class="relative overflow-hidden">
        <div class="slider flex transition-transform duration-300">
          <div
            class="min-w-full h-64 bg-purple-500 flex justify-center items-center text-white text-2xl font-bold"
          >
            <img src={HotelMiranda.src} alt="Hotel Miranda" />
          </div>
          <div
            class="min-w-full h-64 bg-yellow-500 flex justify-center items-center text-white text-2xl font-bold"
          >
            <img src={HotelAboutUs.src} alt="Hotel Miranda" />
          </div>
          <div
            class="min-w-full h-64 bg-pink-500 flex justify-center items-center text-white text-2xl font-bold"
          >
            <img
              src={"../../../public/assets/contact.jpg"}
              alt="Hotel Miranda"
            />
          </div>
        </div>
        <button
          class="prev absolute top-1/2 left-2 transform -translate-y-1/2 bg-gray-800 text-white rounded-full w-10 h-10 flex items-center justify-center"
        >
          <GrCaretPrevious className="w-5 h-5" />
        </button>
        <button
          class="next absolute top-1/2 right-2 transform -translate-y-1/2 bg-gray-800 text-white rounded-full w-10 h-10 flex items-center justify-center"
        >
          <GrCaretNext className="w-5 h-5" />
        </button>
      </div>
      <article class="p-8 rounded-lg">
        <p class="mt-5 font-roboto text-base">
          Miranda Hotel Laravel App es una aplicación web diseñada para
          facilitar las reservas hoteleras y proporcionar una experiencia
          conveniente tanto para los clientes como para el personal del hotel.<br
          /><br />
          El frontend está desarrollado con:
        </p>

        <div class="flex flex-wrap items-center gap-2 mt-4">
          <span
            class="bg-blue-500 text-white text-sm font-bold px-4 py-1.5 rounded-md"
          >
            HTML5
          </span>
          <span
            class="bg-pink-500 text-white text-sm font-bold px-4 py-1.5 rounded-md"
          >
            SASS
          </span>
          <span
            class="bg-yellow-500 text-white text-sm font-bold px-4 py-1.5 rounded-md"
          >
            JavaScript
          </span>
        </div>

        <p class="mt-6 font-roboto text-base">
          El backend está construido con:
        </p>

        <div class="flex flex-wrap items-center gap-2 mt-4">
          <span
            class="bg-purple-600 text-white text-sm font-bold px-4 py-1.5 rounded-md"
          >
            PHP
          </span>
          <span
            class="bg-red-500 text-white text-sm font-bold px-4 py-1.5 rounded-md"
          >
            Laravel
          </span>
        </div>

        <p class="mt-6 font-roboto text-base">
          Además, utiliza las siguientes tecnologías para la gestión de datos y
          el despliegue:
        </p>

        <div class="flex flex-wrap items-center gap-2 mt-4">
          <span
            class="bg-green-500 text-white text-sm font-bold px-4 py-1.5 rounded-md"
          >
            MySQL
          </span>
          <span
            class="bg-blue-600 text-white text-sm font-bold px-4 py-1.5 rounded-md"
          >
            Docker
          </span>
        </div>

        <p class="mt-6 font-roboto text-base">
          Esta solución mejora la experiencia tanto de los usuarios finales como
          del personal administrativo, asegurando un sistema robusto y
          escalable.
        </p>
      </article>
      <div class="flex items-start justify-center gap-4 mt-4 text-3xl">
        <a
          href="http//15.237.159.2"
          target="_blank"
          class="hover:scale-110 rounded-lg transition duration-300"
          ><SiAmazonwebservices /></a
        >
        <a
          href="https://github.com/MariaGargoles/Miranda-Hotel-Laravel-App"
          class="hover:scale-110 rounded-lg transition duration-300 p-2 text-2xl text-gray-700"
        >
          <FaGithub />
        </a>
      </div>
    </div>

    <!-- Project 3 -->
    <div class="project-item border rounded-lg p-4 shadow-md slider-container">
      <h2 class="text-xl flex font-syne justify-center font-semibold mb-4">
        APP Imagenes
      </h2>
      <div class="relative overflow-hidden">
        <div class="slider flex transition-transform duration-300">
          <div
            class="min-w-full h-64 bg-teal-500 flex justify-center items-center text-white text-2xl font-bold"
          >
            <img src={Galery1.src} alt="APP Galery Home" />
          </div>
          <div
            class="min-w-full h-64 bg-orange-500 flex justify-center items-center text-white text-2xl font-bold"
          >
            <img src={Galery2.src} alt="APP Galery Filter" />
          </div>
          <div
            class="min-w-full h-64 bg-indigo-500 flex justify-center items-center text-white text-2xl font-bold"
          >
            <img src={Galery3.src} alt="My fav fotos" />
          </div>
        </div>
        <button
          class="prev absolute top-1/2 left-2 transform -translate-y-1/2 bg-gray-800 text-white rounded-full w-10 h-10 flex items-center justify-center"
        >
          <GrCaretPrevious className="w-5 h-5" />
        </button>
        <button
          class="next absolute top-1/2 right-2 transform -translate-y-1/2 bg-gray-800 text-white rounded-full w-10 h-10 flex items-center justify-center"
        >
          <GrCaretNext className="w-5 h-5" />
        </button>
      </div>
      <p class="mt-6 font-roboto text-base">
        ReactSplash Gallery App es una aplicación web que permite buscar fotos
        desde la API de Unsplash, añadirlas a una lista de favoritos,
        eliminarlas, y filtrarlas según tus necesidades. Es ideal para explorar,
        gestionar y guardar imágenes de manera sencilla.
      </p>

      <p class="mt-6 font-roboto text-base">El frontend está construido con:</p>

      <div class="flex flex-wrap items-center gap-2 mt-4">
        <span
          class="bg-blue-500 text-white text-sm font-bold px-4 py-1.5 rounded-md"
        >
          React
        </span>
        <span
          class="bg-purple-600 text-white text-sm font-bold px-4 py-1.5 rounded-md"
        >
          Redux
        </span>
        <span
          class="bg-gray-800 text-white text-sm font-bold px-4 py-1.5 rounded-md"
        >
          Unsplash API
        </span>
      </div>
      <div class="flex items-start justify-center gap-4 mt-4 text-3xl">
        <a
          href="https://github.com/MariaGargoles/ReactSplash-Galery-App.git"
          target="_blank"
          class="hover:scale-110 rounded-lg transition duration-300"
          ><SiAmazonwebservices /></a
        >
        <a
          href="http://galery-mlg.s3-website.eu-west-3.amazonaws.com"
          class="hover:scale-110 rounded-lg transition duration-300 p-2 text-2xl text-gray-700"
        >
          <FaGithub />
        </a>
      </div>
    </div>

    <!-- Project 4 -->
    <div class="project-item border rounded-lg p-4 shadow-md slider-container">
      <h2 class="text-xl font-syne flex justify-center font-semibold mb-4">
        Oxygen Shop
      </h2>
      <div class="relative overflow-hidden">
        <div class="slider flex transition-transform duration-300">
          <div
            class="min-w-full h-64 bg-lime-500 flex justify-center items-center text-white text-2xl font-bold"
          >
            <img src={OxygenShop.src} alt="Oxygen Home" />
          </div>
          <div
            class="min-w-full h-64 bg-cyan-500 flex justify-center items-center text-white text-2xl font-bold"
          >
            <img src={oxgenshop2.src} alt="Oxygen Cash" />
          </div>
          <div
            class="min-w-full h-64 bg-fuchsia-500 flex justify-center items-center text-white text-2xl font-bold"
          >
            <img src={oxygenmovil.src} alt="Oxygen Movile" />
          </div>
        </div>
        <button
          class="prev absolute top-1/2 left-2 transform -translate-y-1/2 bg-gray-800 text-white rounded-full w-10 h-10 flex items-center justify-center"
        >
          <GrCaretPrevious className="w-5 h-5" />
        </button>
        <button
          class="next absolute top-1/2 right-2 transform -translate-y-1/2 bg-gray-800 text-white rounded-full w-10 h-10 flex items-center justify-center"
        >
          <GrCaretNext className="w-5 h-5" />
        </button>
      </div>
      <p class="mt-6 font-roboto text-base">
        Este proyecto es una aplicación web sencilla desarrollada con HTML5,
        SASS y JavaScript Vanilla. Ofrece una experiencia interactiva y
        responsiva, con funcionalidades que demuestran habilidades en diseño web
        moderno y programación orientada a interactividad.
      </p>

      <p class="mt-6 font-roboto text-base">
        La aplicación está construida con:
      </p>

      <div class="flex flex-wrap items-center gap-2 mt-4">
        <span
          class="bg-orange-500 text-white text-sm font-bold px-4 py-1.5 rounded-md"
        >
          HTML5
        </span>
        <span
          class="bg-pink-500 text-white text-sm font-bold px-4 py-1.5 rounded-md"
        >
          SASS
        </span>
        <span
          class="bg-yellow-500 text-white text-sm font-bold px-4 py-1.5 rounded-md"
        >
          JavaScript
        </span>
      </div>
      <div class="flex items-start justify-center gap-4 mt-4 text-3xl">
        <a
          href="https://github.com/MariaGargoles/Proyecto_final-1.git"
          target="_blank"
          class="hover:scale-110 rounded-lg transition duration-300"
          ><SiAmazonwebservices /></a
        >
        <a
          href="http://oxygenshop-mgl.s3-website.eu-west-3.amazonaws.com"
          class="hover:scale-110 rounded-lg transition duration-300 p-2 text-2xl text-gray-700"
        >
          <FaGithub />
        </a>
      </div>
    </div>
  </div>
</section>
